---
layout: default
---
<div class="row">
  <div class="col-md-3">
    <ul class="nav sidebar">
	  <li><a href="#">Shipping</a>
        <ul class="nav">
		  <li><a href="#">Door to door Shipping</a></li>
		  <li><a href="#">Air Freight</a></li>
		  <li><a href="#">Car Shipping</a></li>
		  <li><a href="#">Container Shipping</a></li>
		</ul>
	  </li>
	  <li><a href="#">Money Transfer</a></li>
	  <li><a href="#">Storage</a></li>
	</ul>
  </div>
  <div class="col-md-9">
    <div class="box page">
      <h1 class="page-header">{{page.title}}</h1>
      {{content}}
    </div>
  </div>
</div>