---
layout: default
---
<div class="row">
  <div class="col-md-3">
    <ul class="nav sidebar">
	  <li{% if page.category == "shipping" %} class="active"{% endif %}><a href="{{ site.baseurl }}shipping.html">Shipping</a>
        <ul class="nav">
		  <li{% if page.slug == "door-to-door-shipping" %} class="active"{% endif %}><a href="{{ site.baseurl }}door-to-door-shipping.html">Door to door Shipping</a></li>
		  <li{% if page.slug == "air-freight" %} class="active"{% endif %}><a href="{{ site.baseurl }}air-freight.html">Air Freight</a></li>
		  <li{% if page.slug == "car-shipping" %} class="active"{% endif %}><a href="{{ site.baseurl }}car-shipping.html">Car Shipping</a></li>
		  <li{% if page.slug == "container-shipping" %} class="active"{% endif %}><a href="{{ site.baseurl }}container-shipping.html">Container Shipping</a></li>
		</ul>
	  </li>
	  <li{% if page.slug == "money-transfer" %} class="active"{% endif %}><a href="{{ site.baseurl }}money-transfer.html">Money Transfer</a></li>
	  <li{% if page.slug == "storage" %} class="active"{% endif %}><a href="{{ site.baseurl }}storage.html">Storage</a></li>
	</ul>
  </div>
  <div class="col-md-9">
    <div class="box page">
      <h1 class="page-header">{{page.title}}</h1>
      {{content}}
    </div>
  </div>
</div>